@page "/"

<PageTitle>Home</PageTitle>

<div class="container">
    <div class="row">
        <div class="col" style="text-align: center">
            <img style="height: auto; margin-top: 10rem" alt="" width="200" height="200" class="avatar border color-bg-primary" src="https://avatars.githubusercontent.com/u/2746687?s=460&amp;u=9e8b76c605887dc86c2fbe64eadac0a353e829d9&amp;v=4">
            <h3 style="margin-top: 1rem">Caelan Mayberry</h3>
            
            <div style="margin-top: 1rem">
                Hello! I'm a Software Developer living in Reno, Nevada. In my spare time I do hobby game development and work on a few personal libraries.
            </div>
            <div style="margin-top: 3rem">
                Details about my current game dev can be found <NavLink href="games">here</NavLink>. Summaries of some of my side projects <NavLink href="projects">here</NavLink>.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a href="https://www.linkedin.com/in/caelan-mayberry-a51b23a4/" target="_blank"><b>LinkedIn</b></a> / <a href="https://github.com/CDMayberry" target="_blank"><b>GitHub</b></a>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            PS: This website runs using Blazor
        </div>
    </div>
</div>