@page "/"

<div class="container">
    <div class="row">
        <div class="col" style="text-align: center">
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <img style="height: auto;" alt="" width="200" height="200" class="avatar border color-bg-primary" src="https://avatars.githubusercontent.com/u/2746687?s=460&amp;u=9e8b76c605887dc86c2fbe64eadac0a353e829d9&amp;v=4">
                <br/>
                <br/>
                <h3>Caelan Mayberry</h3>

                Hello! I'm a System's Analyst for BThree Solutions Inc. living in Pittsburgh, PA.
                <br/>
                <br/>
                In my spare time I do hobby game development and work on a few personal libraries.
                <br/>
                You can find summaries of some of some of my projects <NavLink href="projects">here</NavLink>.
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a href="https://www.linkedin.com/in/caelan-mayberry-a51b23a4/"><b>LinkedIn</b></a> / <a href="https://github.com/CDMayberry"><b>GitHub</b></a>
        </div>
    </div>
</div>

@* TODO: Make this a Showcase page, primarily with Reflyn, MirrorState, and Canis Major. *@
