@page "/projects"


<div class="container">
    <div class="row">
        <div class="col">
            <h1>My Projects</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3><a href="https://github.com/CDMayberry/Reflyn">Reflyn</a></h3>
            A C# wrapper that abstracts away the complexities of code generation, improving readability and usability for developers. Modernization of an older CodeDom wrapper Refly, rebuilt to use Roslyn for code generation.
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3><a href="https://github.com/CDMayberry/MirrorState">MirrorState</a></h3>
            Experimental snapshot interpolation system built on top of the Mirror networking API for Unity, and inspired by Photon Bolt. Uses Reflyn to generate behaviours for state and client-side prediction via a custom designer.
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3><a href="https://github.com/CDMayberry/CanisMajor">Canis Major</a></h3>
            A horror game built as a team of 4 using C++ with Direct3D 10 for our Games 2 class. My contributions included expanding the shader code and integrating the lighting with gameplay mechanics such as the flashlight and item highlighting.
        </div>
    </div>
</div>