@page "/projects"


<div class="container">
    <div class="row">
        <div class="col">
            <h1>Current Projects</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3><a href="https://github.com/CDMayberry/Reflyn" target="_blank">Reflyn</a></h3>
            A C# library built to provide a simple and easy to use API for generating code. Reflyn is based off a much
            older code generation library Refly, improving on the original and rebuilding the core to generate code via
            Roslyn to take advantage of modern C# features not previously available in Refly.
            
            This project was made in part because I wanted a C# code generation library of my own and there weren't many available,
            and I wanted to look into how Roslyn works. I decided to use this as an opportunity to learn the ins and outs of Roslyn.
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3><a href="https://github.com/CDMayberry/MirrorState" target="_blank">MirrorState</a></h3>
            Experimental snapshot interpolation system built on top of the Mirror networking API for Unity. Developed
            tools for designers to define what data to synchronize across the network. Uses Reflyn to transform the
            designer defined data into C# components for snapshot interpolation and client-side prediction.
            <br />
            <br />
            MirrorState is a experiment to learn about video game networking by building my own prototype of snapshot interpolation on top of Mirror. 
            Currently reworking parts of the system based off of Fredrik Holmstrom's video series and <a
                href="https://github.com/CDMayberry/NetCodeTalkStreams" target="_blank">accompanying code</a> on snapshot
            interpolation.
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <h1>Past Projects</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3><a href="https://github.com/CDMayberry/CanisMajor" target="_blank">Canis Major</a></h3>
            A horror game built as a team of 4 in our own engine, using C++ with Direct3D 10. My role included
            expanded the shader code and integrated the lighting with gameplay mechanics such as the flashlight and item
            highlighting.
        </div>
    </div>
</div>