@page "/treds"


<div class="container">
    <div class="row">
        <div class="col">
            <h1>Game Development: Treds</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>About</h2>
            A mini-project focused on developing and making a small-scale single player game.
            <br /><br />
            This project came out of a desire to try and make a short but releasable project. 
            The idea was to take an old game, something with a simpler design and art style, and make my own spinoff of it.

            <h4>Trax</h4>
            Years ago on the gameboy existed a game called Trax, made by Nintendo's HAL Laboratory.
            It was a small game where you were a good tank, fighting your way through an army of bad tanks.
            The gameplay was straight forward, fight through each level to two bosses, and then move on to the next level.
            The game itself wasn't too long and could be beaten in about 30 minutes. Below is a playthrough.
            <br /> <br />
            <iframe width="720" height="400" src="https://www.youtube.com/embed/bD2y1mv3be0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br /><br />
            I very much enjoyed this game as a kid, and decided to try and make my own game like it.
            <br /> <br />

            <h4>Gameplay</h4>
            Treds will try to keep to that simple gameplay. The camera moves in one direction at a time, and only moves forward with the player. The player can move, rotate their turret, and shoot.
            <br /><br />
            
            <h4>Art</h4>
            My goal with this was also to make my own art for everything. Trax was largely made in 8x8 and 16x16 bit sizes, all in greyscale.
            <br /><br />

            <br /><br />
            <br /><br />
            <br /><br />
            <br /><br />
        </div>
    </div>
</div>