<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">cdmayberry.github.io</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3" style="text-align: center">
            <img style="height:auto;" alt="" width="150" height="150" class="avatar border color-bg-primary" src="https://avatars.githubusercontent.com/u/2746687?s=460&amp;u=9e8b76c605887dc86c2fbe64eadac0a353e829d9&amp;v=4">
            @*<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            </NavLink>*@
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> About Me
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="projects">
                <span class="oi oi-plus" aria-hidden="true"></span> Projects
            </NavLink>
        </li>
        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>*@
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
