<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">cdmayberry.github.io</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        @*<li class="nav-item px-3" style="text-align: center">
            $1$<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            </NavLink>#1#
        </li>*@
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-person" aria-hidden="true"></span> About Me
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="ToggleGamesMenu">
                <span class="oi @(expandSubNav ? "oi-chevron-bottom" : "oi-chevron-right")" aria-hidden="true"></span> Current Game Dev
            </NavLink>
            
            @if (expandSubNav)
            {
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="mechs">
                        @*<span class="oi oi-terminal" aria-hidden="true"></span>*@ <span>Mech Game</span>
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="zombies">
                        @*<span class="oi oi-terminal" aria-hidden="true"></span>*@ <span>Bullet Hell</span>
                    </NavLink>
            </li>
            @*<li class="nav-item px-3">
                <NavLink class="nav-link" href="treds">
                        $1$<span class="oi oi-terminal" aria-hidden="true"></span>#1# <span>Treds</span>
                </NavLink>
            </li>*@
            }
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="projects">
                <span class="oi oi-list" aria-hidden="true"></span> Side Projects
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool expandSubNav = false;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void ToggleGamesMenu()
    {
        expandSubNav = !expandSubNav;
    }
}
